
html, body {
  width : 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  position:absolute;
}

.bg-image {
    width: 100%;
    height: 100%;
    position : absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading h1 {
    color: white; 
    position: absolute;
    padding-top: 100px;
}

.heading h3 {
    color: white; 
    position: absolute;
    padding-top: 250px;
}

/* styles.css */
.responsive-box {
  width: 50%;
  height: 30%;
  display: flex;
  
}

@media (max-width: 638px) {
  .responsive-box {
    width: 50%;
    height: 20%;
  }
}

.place { 
  margin-top: 370px; 
  font-size: 20px; 
 
  .card { 
    width: 638px; 
    height: 113px; 
    border-radius: 20px; 
  } 
  .card:hover { 
    transform: none; 
    box-shadow: none; 
  } 
 
}

.hero_heading h1 {
  color: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
}

.hero1 {
  margin-top:100px;
}
.hero_heading1 h1 {
  color: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
}

.featured-card {
 margin-top:350px
}


.location { 
  position: relative; 
  margin-top: 100px; 
 
  font-size: 32px; 
  font-weight: 500; 
  line-height: 40px; 
  letter-spacing: 0em; 
}

.btn-primary {
    position: relative;
    left: 980px;
    width: 173px;
    height: 46px;
    border-radius: 20px;

}

.card-img-topp{
    width: 310px;
    height: 180px;


}

.card-img-top {
    width: 80px;
    height: 80px;


}

.card {
    margin-top : 120px;
    width: 309px;
    height: 462px;
    border-radius: 30px;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-title {
    justify-content:center;
}

.card-text {
  font-size: 12px;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.popup-content {
  background-color: #fff;
  padding: 0 30px 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 400px;
  position: absolute;
  color: #333;
  transition: transform 0.4s, top 0.4s;
}

.popup-content .close-button {
  position: absolute;
  width: 39px;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-size: 50px;
}

.popup-content-success {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 496px;
  height: 183px;
  margin: 0 auto;
}

.popup-content-success .content-left img {
  max-width: 100%;
  height: auto;
}

.popup-content-success .content-right {
  text-align: left;
  flex: 1;
  margin-left: 20px;
  align-items:center;
}

.popup-content-success h1 {
  color: #061F48;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.popup-content-success p {
  color: #281F15;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}



.popup h2, .title-pesan{
  padding-top: 30px;
  padding-bottom: 20px;
}

.popup-content .title-pesan {
  color: #061F48;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popup .p1 {
  padding: 0% 10%;
  color: #061F48;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: justify;
}

.layanan {
  font-family: 'Inter', sans-serif;
  border-radius: 15px;
  background: #0000ff;
  color: #fff;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pemberitahuan {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
  text-align: justify;
}


.pop-nama {
  background: #0000ff;
  color: #fff;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.row {
  align-items: center;
  align-content: center;
}

h5 {
  text-align: left;
}

.popup button {
  width: 50%;
  margin-top: 30px;
  padding: 10px 0;
  background-color: blue;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 5px 5px;
}

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
  text-align:right;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  text-align:right;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GLOBAL STYLES */
:root {
	--blue: #335DFF;
	--grey: #F5F5F5;
	--grey-d-1: #EEE;
	--grey-d-2: #DDD;
	--grey-d-3: #888;
	--white: #FFF;
	--dark: #222;
}
/* GLOBAL STYLES */







/* CHATBOX */
.chatbox-wrapper {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 4rem;
	height: 4rem;
  z-index: 2;
}
.chatbox-toggle {
	cursor: pointer;
	
}
.chatbox-toggle:active {
	transform: scale(.9);
}
.chatbox-message-wrapper {
	position: absolute;
	bottom: calc(100% + 1rem);
	right: 0;
	width: 420px;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
	transform: scale(0);
	transform-origin: bottom right;
	transition: .2s;
}
.chatbox-message-wrapper.show {
	transform: scale(1);
}
.chatbox-message-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	padding: .75rem 1.5rem;
}
.chatbox-message-profile {
	display: flex;
	align-items: center;
	grid-gap: .5rem;
}
.chatbox-message-image {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
}
.chatbox-message-name {
	font-size: 1.125rem;
	font-weight: 600;
}
.chatbox-message-status {
	font-size: .875rem;
	color: var(--grey-d-3);
}
.chatbox-message-dropdown {
	position: relative;
}
.chatbox-message-dropdown-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.25rem;
	cursor: pointer;
	border-radius: 50%;
}
.chatbox-message-dropdown-toggle:hover {
	background: var(--grey);
}
.chatbox-message-dropdown-menu {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 100%;
	right: 0;
	background: var(--white);
	padding: .5rem 0;
	width: 120px;
	box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .1);
	transform: scale(0);
	transform-origin: top right;
	transition: .2s;
	border-radius: .5rem;
}
.chatbox-message-dropdown-menu.show {
	transform: scale(1);
}
.chatbox-message-dropdown-menu a {
	font-size: .875rem;
	font-weight: 500;
	color: var(--dark);
	text-decoration: none;
	padding: .5rem 1rem;
	display: block;
}
.chatbox-message-dropdown-menu a:hover {
	background: var(--grey);
}
.chatbox-message-content {
	background: var(--grey);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	grid-row-gap: 1rem;
	max-height: 300px;
	overflow-y: auto;
}
.chatbox-message-item {
	width: 90%;
	padding: 1rem;
}
.chatbox-message-item.sent {
	align-self: flex-end;
	background: var(--blue);
	color: var(--white);
	border-radius: .75rem 0 .75rem .75rem;
}
.chatbox-message-item.received {
	background: var(--white);
	border-radius: 0 .75rem .75rem .75rem;
	box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .05);
}
.chatbox-message-item-time {
	float: right;
	font-size: .75rem;
	margin-top: .5rem;
	display: inline-block;
}
.chatbox-message-bottom {
	background: var(--white);
	padding: .75rem 1.5rem;
}
.chatbox-message-form {
	display: flex;
	align-items: center;
	background: var(--grey);
	border-radius: .5rem;
	padding: .5rem 1.25rem;
}
.chatbox-message-input {
	background: transparent;
	outline: none;
	border: none;
	resize: none;
	scrollbar-width: none;
}
.chatbox-message-input::-webkit-scrollbar {
	display: none;
}
.chatbox-message-submit {
	font-size: 1.25rem;
	color: var(--blue);
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.chatbox-message-no-message {
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
}
/* CHATBOX */



/* BREAKPOINTS */
@media screen and (max-width: 576px) {
	.chatbox-message-wrapper {
		width: calc(100vw - 2rem);
	}
	.chatbox-wrapper {
		bottom: 1rem;
		right: 1rem;
	}
}
/* BREAKPOINTS */


/* Preview */

.section-details-content {
	margin-top: 0px;
	min-height: 100vh;
  }
  
  .section-details-content .breadcrumb {
	background-color: transparent;
	padding: 0;
	margin-bottom: 30px;
  }
  
  .section-details-content .breadcrumb-item.active {
	font-weight: bold;
	color: #071C4D;
  }
  
  .section-details-content .card-details {
	padding: 20px 5px 5px;
	border-radius: 11px;
  }
  
  .section-details-content .card-details h1 {
	font-size: 26px;
  }
  
  .section-details-content .card-details h2 {
	font-size: 20px;
  }
  
  .section-details-content .card-details p {
	font-size: 15px;
	color: #b1b1b1;
  }
  
  .section-details-content .card-details .trip-informations th {
	font-weight: 300;
	font-size: 18px;
	color: #071C4D;
  }
  
  .section-details-content .card-details .trip-informations td {
	font-weight: 300;
	font-size: 18px;
	color: #000000;
  }
  
  .section-details-content .card-details .btn-add-now {
	background-color: #071c4d;
	color: #fff;
  }
  
  .section-details-content .card-details .btn-add-now:hover {
	background-color: #213f85;
	color: #fff;
  }
  
  .section-details-content .card-right {
	border-radius: 10px;
  }
  
  .section-details-content .features {
	margin-top: 20px;
  }
  
  .section-details-content .features h3 {
	font-size: 19px;
	color: #071C4D;
	margin-bottom: 0;
  }
  
  .section-details-content .features p {
	margin-bottom: 0;
  }
  
  .section-details-content .join-container {
	margin-top: -16px;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
  
  }
  
  .section-details-content .btn-chat {
	background-color: #fff;
	padding: 60px;
	color: #061F48;
	margin-left: 12px;
	border-radius: 10;
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .section-details-content .btn-chat:hover {
	background-color: #3A5CEE;
	color: #fff;
  }
  
  .section-details-content .btn-pesan {
	background-color: #3A5CEE;
	padding: 60px;
	color: #fff;
	margin-left: 12px;
	border-radius: 10;
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .section-details-content .btn-pesan:hover {
	background-color: #fff;
	color: #061F48;
  }
  
  .section-details-content .gallery .xzoom-container .xzoom  {
	width: 60%;
  }
  
  .section-details-content .gallery .xzoom-thumbs .xzoom-gallery  {
	width: 144px;
  }
  
  .section-details-content .card-details ul {
	margin-top: -20px;
	color: #061F48;
  }
  
  .section-details-content .card-details .detail-content p {
	color:#061F48;
  }
  
  .section-details-content .card-details .detail-content .warning  {
	color:rgba(63, 63, 63, 0.32);
  }
  
  .section-details-content .card {
	width: 400px;
	height: 150px;
  }
  
  .section-details-content .trip-informations tr .text-value  {
	color: #3A5CEE;
  }



