body {
    color: $body_color;
    
}

.bg-image {
    width: 100%;
    height: 100%;
    position : absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading h1 {
    color: white; 
    position: absolute;
    padding-top: 100px;
}

.heading h3 {
    color: white; 
    position: absolute;
    padding-top: 250px;
}

/* styles.css */

.place {
  margin-top: 370px;
  
   .card {
    width: 638px;
    height: 113px;
    border-radius: 20px;

   }
}

.featured-card {
 margin-top:100px
}


.location {
    position:relative;
    margin-top:100px;
    
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
}

.btn-primary {
    position: relative;
    left: 980px;
    width: 173px;
    height: 46px;
    border-radius: 20px;

}

.card-img-topp{
    width: 310px;
    height: 180px;


}

.card-img-top {
    width: 80px;
    height: 80px;


}

.card {
    margin-top : 100px;
    width: 309px;
    height: 462px;
    border-radius: 30px;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-title {
    justify-content:center;
}

.card-text {
  font-size: 12px;
}


.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
  text-align:right;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  text-align:right;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

